.App  {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:flex-end ;
  background-color: #6295e3;
  margin: 1% 25%;
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  text-align: center;
}



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 0;  
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom:0 ;
} */

label {
  margin-right: 10px;
  margin-bottom: 3px;
}
input {
  background-color: #eca7af;
  border-color: #cb435f;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 3px;
  font-size: large;
  border-radius: 5px;
  
}
button {
  background-color: #eca7af;
  border-radius: 5px;
  border-color: #cb435f;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: large;
  color:#fefefc;
  margin-left: 10px;
}

@media (max-width: 920px){
  .App {margin: 1% 1%;}
}
